{% extends 'dashboard/layout.html.twig' %}

{% block title %}Détail de l'entreprise{% endblock %}

{% block dashboard_content %}
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title mb-0">Détail de l'entreprise</h3>
            <a href="{{ path('app_entreprises') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-3">Informations générales</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <td>{{ entreprise.nom }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>
                                    {{ entreprise.adresse.rue }}, {{ entreprise.adresse.codePostal }} {{ entreprise.adresse.ville }}, {{ entreprise.adresse.pays }}
                                </td>
                            </tr>
                            <tr>
                                <th>Ville</th>
                                <td>{{ entreprise.adresse.ville }}</td>
                            </tr>
                            <tr>
                                <th>Secteur</th>
                                <td>{{ entreprise.secteur }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ entreprise.email }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ entreprise.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-3">Description</h5>
                    <div class="card">
                        <div class="card-body">
                            {{ entreprise.description|nl2br }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 