{% extends 'dashboard/layout.html.twig' %}

{% block title %}Modifier l'offre de stage{% endblock %}

{% block dashboard_content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Modifier l'offre</h3>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.titre_offre) }}
                            {{ form_row(form.entreprise) }}
                            {{ form_row(form.duree_stage) }}
                            {{ form_row(form.date_debut_stage) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.statut_offre) }}
                            {{ form_row(form.description_offre) }}
                            {{ form_row(form.competences_requises) }}
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <a href="{{ path('app_offres_stage') }}" class="btn btn-secondary me-2">Retour à la liste</a>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %} 