{% extends 'dashboard/layout.html.twig' %}

{% block title %}Créer une offre de stage{% endblock %}


{% block dashboard_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Nouvelle Offre de Stage</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.titre_offre) }}
                                {{ form_widget(form.titre_offre) }}
                                {{ form_errors(form.titre_offre) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.duree_stage) }}
                                {{ form_widget(form.duree_stage) }}
                                {{ form_errors(form.duree_stage) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.date_debut_stage) }}
                                {{ form_widget(form.date_debut_stage) }}
                                {{ form_errors(form.date_debut_stage) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.date_fin_stage) }}
                                {{ form_widget(form.date_fin_stage) }}
                                {{ form_errors(form.date_fin_stage) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                {{ form_label(form.description_offre) }}
                                {{ form_widget(form.description_offre) }}
                                {{ form_errors(form.description_offre) }}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form_label(form.competences_requises) }}
                                {{ form_widget(form.competences_requises) }}
                                {{ form_errors(form.competences_requises) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.entreprise) }}
                                {{ form_widget(form.entreprise) }}
                                {{ form_errors(form.entreprise) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.salaire) }}
                                {{ form_widget(form.salaire) }}
                                {{ form_errors(form.salaire) }}
                            </div>
                        </div>

                        {% if form.pilote is defined %}
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    {{ form_label(form.pilote) }}
                                    {{ form_widget(form.pilote) }}
                                    {{ form_errors(form.pilote) }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row mt-4">
                            <div class="col-12">
                                <a href="{{ path('app_offres') }}" class="btn btn-secondary">Retour</a>
                                <button type="submit" class="btn btn-primary">Créer l'offre</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
